<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.sevenfs.mapper.mail.MailLabelMapper">

<select id="getLabelList" parameterType="kr.or.ddit.sevenfs.vo.organization.EmployeeVO" resultType="kr.or.ddit.sevenfs.vo.mail.MailLabelVO">
SELECT
    lbl_no,
    empl_no,
    lbl_nm,
    lbl_col
FROM
    mail_label
where empl_no = #{emplNo}
    
</select>

<insert id="mailLblAdd" parameterType="kr.or.ddit.sevenfs.vo.mail.MailLabelVO">
	<selectKey resultType="int" order="BEFORE" keyProperty="lblNo">
		SELECT SEQ_MAIL_LABEL.nextval FROM DUAL
	</selectKey>
insert into mail_label(
	 lbl_no
    ,empl_no
    ,lbl_nm
    ,lbl_col
)
values(
	 #{lblNo}
	,#{emplNo}
	,#{lblNm}
	,#{lblCol}
)
</insert>
</mapper>