<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.sevenfs.mapper.organization.OrganizationMapper">
	
	<!-- 전체 부서 조회 -->
	<select id="depList" resultType="kr.or.ddit.sevenfs.vo.CommonCodeVO">
		SELECT CMMN_CODE_GROUP, CMMN_CODE, CMMN_CODE_NM, 
       		   CMMN_CODE_DC, USE_YN, UPPER_CMMN_CODE
		FROM COMMON_CODE
		WHERE CMMN_CODE_GROUP='DEPARTMENT'
		AND USE_YN='Y'
	</select>
	
	<select id="deptDetail" parameterType="kr.or.ddit.sevenfs.vo.CommonCodeVO" resultType="kr.or.ddit.sevenfs.vo.CommonCodeVO">
		SELECT CMMN_CODE_GROUP, CMMN_CODE, CMMN_CODE_NM, 
       		   CMMN_CODE_DC, USE_YN, UPPER_CMMN_CODE
		FROM COMMON_CODE
		WHERE CMMN_CODE_GROUP='DEPARTMENT'
        AND CMMN_CODE=#{cmmnCode}	
	</select>
	
	<!-- 전체 사원 조회 -->
	<select id="empList" resultType="kr.or.ddit.sevenfs.vo.organization.EmployeeVO">
		SELECT EMPL_NO, PASSWORD, ENABLED, EMPL_NM, BRTHDY, TELNO, ACNUTNO, BANK_NM, EMAIL, POST_NO, ADRES, DETAIL_ADRES, ECNY_DATE, RETIRE_DATE, ATCH_FILE_NO, ELCTRN_SIGN_IMAGE_URL,
       			 PROFL_PHOTO_URL, DEPT_CODE, CLSF_CODE, GENDER_CODE, EMPL_STTUS_CODE, ANSLRY, PARTCLR_MATTER, CONTD_EMPNO
		FROM EMPLOYEE
	</select>
	
	<!-- 사원 상세보기 -->
	<select id="emplDetail" parameterType="String" resultType="kr.or.ddit.sevenfs.vo.organization.EmployeeVO">
		SELECT EMPL_NO, PASSWORD, ENABLED, EMPL_NM, BRTHDY, TELNO, ACNUTNO, BANK_NM, EMAIL, POST_NO, ADRES, DETAIL_ADRES, ECNY_DATE, RETIRE_DATE, ATCH_FILE_NO, ELCTRN_SIGN_IMAGE_URL,
		    PROFL_PHOTO_URL, DEPT_CODE, CLSF_CODE, GENDER_CODE, EMPL_STTUS_CODE, ANSLRY, PARTCLR_MATTER, CONTD_EMPNO
		FROM EMPLOYEE
		WHERE EMPL_NO=#{emplNo}
	</select>
	
	<!-- 사원 상세부서 -->
	<select id="empDetailDep" parameterType="String" resultMap="commonMap">
		SELECT CC.CMMN_CODE_NM
		FROM COMMON_CODE CC
		LEFT JOIN EMPLOYEE E ON CC.CMMN_CODE = E.DEPT_CODE
		WHERE CC.CMMN_CODE_GROUP='DEPARTMENT'
		AND E.EMPL_NO=#{emplNo}
	</select>
	
		<!-- 사원 상세직급 -->
	<select id="empDetailPos" parameterType="String" resultMap="commonMap">
		SELECT CC.CMMN_CODE_NM
		FROM COMMON_CODE CC
		LEFT JOIN EMPLOYEE E ON CC.CMMN_CODE = E.CLSF_CODE
		WHERE CC.CMMN_CODE_GROUP='POSITION'
		AND E.EMPL_NO= #{emplNo}
	</select>
	
	<resultMap type="kr.or.ddit.sevenfs.vo.CommonCodeVO" id="commonMap">
		<result property="cmmnCodeSn" column="CMMN_CODE_SN"/>
		<result property="cmmnCodeGroup" column="CMMN_CODE_GROUP"/>
		<result property="cmmnCode" column="CMMN_CODE"/>
		<result property="cmmnCodeNm" column="CMMN_CODE_NM"/>
		<result property="cmmnCodeDc" column="CMMN_CODE_DC"/>
		<result property="useYn" column="USE_YN"/>
		<result property="upperCmmnCode" column="UPPER_CMMN_CODE"/>
<!-- 		<association property="employeeList" resultMap="employeeMap"></association> -->	
	</resultMap>
	
	<resultMap type="kr.or.ddit.sevenfs.vo.organization.EmployeeVO" id="employeeMap">
		<result property="emplNo" column="EMPL_NO"/>
		<result property="password" column="PASSWORD"/>
		<result property="enabled" column="ENABLED"/>
		<result property="emplNm" column="EMPL_NM"/>
		<result property="brthdy" column="BRTHDY"/>
		<result property="telno" column="TELNO"/>
		<result property="acnutno" column="ACNUTNO"/>
		<result property="bankNm" column="BANK_NM"/>
		<result property="email" column="EMAIL"/>
		<result property="postNo" column="POST_NO"/>
		<result property="adres" column="ADRES"/>
		<result property="detailAdres" column="DETAIL_ADRES"/>
		<result property="ecnyDate" column="ECNY_DATE"/>
		<result property="retireDate" column="RETIRE_DATE"/>
		<result property="atchFileNo" column="ATCH_FILE_NO"/>
		<result property="elctrnSignImageUrl" column="ELCTRN_SIGN_IMAGE_URL"/>
		<result property="proflPhotoUrl" column="PROFL_PHOTO_URL"/>
		<result property="deptCode" column="DEPT_CODE"/>
		<result property="clsfCode" column="CLSF_CODE"/>
		<result property="genderCode" column="GENDER_CODE"/>
		<result property="emplSttusCode" column="EMPL_STTUS_CODE"/>
		<result property="anslry" column="ANSLRY"/>
		<result property="partclrMatter" column="PARTCLR_MATTER"/>
		<result property="contdEmpno" column="CONTD_EMPNO"/>
	</resultMap>
	
	<!-- 부서 등록 -->
	<insert id="depInsert" parameterType="kr.or.ddit.sevenfs.vo.CommonCodeVO">
		INSERT INTO COMMON_CODE (CMMN_CODE_GROUP, CMMN_CODE, CMMN_CODE_NM,
            CMMN_CODE_DC, USE_YN, UPPER_CMMN_CODE, CMMN_CODE_SN)
		VALUES ('DEPARTMENT', #{cmmnCode}, #{cmmnCodeNm},#{cmmnCodeDc},'Y', #{upperCmmnCode}, #{cmmnCodeSn})
	</insert>
	
	<!-- 부서 수정 -->
	<update id="deptUpdate" parameterType="kr.or.ddit.sevenfs.vo.CommonCodeVO">
		UPDATE COMMON_CODE
		SET CMMN_CODE_NM = #{cmmnCodeNm},
		    CMMN_CODE_DC = #{cmmnCodeDc},
		    CMMN_CODE = #{cmmnCode}
		WHERE CMMN_CODE = #{cmmnCode}
		AND CMMN_CODE_GROUP = 'DEPARTMENT'
	</update>
	
	<!-- 부서 삭제  -->
	<update id="deptDelete" parameterType="kr.or.ddit.sevenfs.vo.CommonCodeVO">
		UPDATE COMMON_CODE
		SET USE_YN='N'
		WHERE CMMN_CODE=#{cmmnCode}
		AND CMMN_CODE_GROUP='DEPARTMENT'
	</update>
</mapper>