<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.sevenfs.mapper.schedule.ScheduleLabelMapper">

<select id="getLabel" parameterType="kr.or.ddit.sevenfs.vo.schedule.ScheduleVO"
					  resultType="kr.or.ddit.sevenfs.vo.schedule.ScheduleLabelVO">
	SELECT
		LBL_NO,
		LBL_COLOR,
	    LBL_NM,
	    EMPL_NO
	FROM
		SCHEDULE_LABEL
	WHERE EMPL_NO = #{emplNo}
</select>

<insert id="labelAdd" parameterType="kr.or.ddit.sevenfs.vo.schedule.ScheduleLabelVO">
	<selectKey resultType="int" order="BEFORE" keyProperty="lblNo">
		select SEQ_SCHEDULE_LABEL.NEXTVAL FROM DUAL
	</selectKey>
	INSERT INTO schedule_label (
	    lbl_no,
	    lbl_color,
	    lbl_nm,
	    empl_no
	) VALUES (
	    #{lblNo},
	    #{lblColor},
	    #{lblNm},
	    #{emplNo}
	)
</insert>
<update id="labelUpdate" parameterType="kr.or.ddit.sevenfs.vo.schedule.ScheduleLabelVO">
	UPDATE schedule_label
	SET
		lbl_nm = #{lblNm},
	    lbl_color = #{lblColor}
	WHERE
	    lbl_no = #{lblNo}
		AND empl_no = #{emplNo}
</update>
<delete id="delLabel" parameterType="kr.or.ddit.sevenfs.vo.schedule.ScheduleVO">
	DELETE FROM schedule_label
	WHERE lbl_no = #{lblNo}
</delete>
</mapper>