<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.ddit.sevenfs.mapper.project.GanttMapper">


	<select id="selectTaskEntitiesByProjectNo" resultType="kr.or.ddit.sevenfs.vo.project.ProjectTaskEntity" parameterType="int">
	  SELECT
	    TASK_NO,
	    PRJCT_NO,
	    TASK_NM,
	    TASK_CN,
	    PRIORT,
	    TASK_GRAD,
	    TASK_STTUS,
	    PROGRSRT,
	    UPPER_TASK_NO,
	    CHARGER_EMPNO,
	    ATCH_FILE_NO,
	    TASK_BEGIN_DT,
	    TASK_END_DT,
	    TASK_DAYCNT
	  FROM PROJECT_TASK
	  WHERE PRJCT_NO = #{prjctNo}
	</select>



  <select id="selectProjectTasksByProjectNo" parameterType="int" resultType="kr.or.ddit.sevenfs.vo.project.GanttTaskVO">
    SELECT
      TASK_NO,
      PRJCT_NO,
      TASK_NM,
      TASK_CN,
      TASK_BEGIN_DT,
      TASK_END_DT,
      TASK_DAYCNT,
      TASK_GRAD,
      PRIORT,
      TASK_STTUS,
      PROGRSRT,
      UPPER_TASK_NO,
      CHARGER_EMPNO,
      ATCH_FILE_NO,
      (SELECT EMPL_NM FROM EMPLOYEE E WHERE E.EMPL_NO = CHARGER_EMPNO) AS CHARGER_EMP_NM
    FROM PROJECT_TASK
    WHERE PRJCT_NO = #{prjctNo}
  </select>

  <select id="selectAllLinks" resultType="kr.or.ddit.sevenfs.vo.project.LinkVO">
    SELECT
      TASK_LINK_NO AS linkId,
      TASK_NO AS sourceId,
      TRGT_TASK_NO AS targetId,
      TASK_LINK_TY AS linkType
    FROM TASK_LINK
  </select>

</mapper>
