<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.sevenfs.mapper.project.ProjectTaskMapper">

   <insert id="insertProjectTaskBatch">
	 <selectKey resultType="int" order="BEFORE" keyProperty="taskNo">
		SELECT SEQ_PROJECT.NEXTVAL FROM DUAL
	</selectKey>
    INSERT INTO project_task (
        progrsrt,
        task_sttus,
        atch_file_no,
        task_begin_dt,
        task_daycnt,
        task_end_dt,
        task_no,
        prjct_no,
        upper_task_no,
        charger_empno,
        task_nm,
        task_cn,
        priort,
        task_grad
    )
    VALUES
    <foreach collection="list" item="task" separator=",">
        (
            #{task.progrsrt},
            #{task.taskSttus},
            #{task.atchFileNo},
            #{task.taskBeginDt},
            #{task.taskDaycnt},
            #{task.taskEndDt},
            #{task.taskNo},
            #{task.prjctNo},
            #{task.upperTaskNo},
            #{task.chargerEmpno},
            #{task.taskNm},
            #{task.taskCn},
            #{task.priort},
            #{task.taskGrad}e
        )
    </foreach>
</insert>

<insert id="insertTask" parameterType="ProjectTaskVO">
  INSERT INTO PROJECT_TASK (...) VALUES (...)
</insert>

   
   
</mapper>