<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.sevenfs.mapper.setting.SettingMapper">
    <insert id="insertSkillAuth" parameterType="string">
        CALL pr_skill_auth(#{emplNo, mode=IN, jdbcType=VARCHAR})
    </insert>


</mapper>